<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" href="./styles/responsive.css">
</head>
<body>
    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}
</body>
</html>